html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

.container {
  padding: 10px;
}

.big-btn {
  color: #4ea13f;
  border: solid #62B254 2px;
  background: linear-gradient(to bottom,
      #FFFFFF,
      #F2F2F2);
  font-size: 1.6rem;
  width: 100%;
  border-radius: 12px;
  padding: 0.3em 0.2em;
  box-shadow: 0.1em 0.1em 0.6em #AAAAAAAA;
}

.hidden {
  display: none;
}

.green-btn {
  background-color: #4d4;
}


.red-btn {
  background-color: #d44;
}

#video {
  max-height: 80%;
  width: 100%;
}

#result {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}