html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

.container {
  padding: 10px;
}

.login-container {
  padding: 15px;
  height: 95vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom,
      #E8F5E9,
      #FFFFFF);

}

.logo-container {
  margin-top: 15%;
  margin-bottom: 20%;
  padding-left: 1%;
  width: 20vh;
  height: 20vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 50%;
  box-shadow: 0 4px 10px #4455;
}

.login-text-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
  margin-bottom: 10%;
}

.login-h1 {
  margin: 0px;
  font-weight: 700;
  color: #006300;
}

.login-h2 {
  margin: 0px;
  font-size: 1.1em;
  font-weight: 600;
  color: #2b8121;
}

.login-p {
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 1.5em;
  color: #2b8121;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
  width: 90%;
}

.login-btn {
  background: linear-gradient(to bottom,
      #5FBF5A,
      #4EA13F
    );
  color: #f2f2f2;
  border: solid #4EA13F 2px;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 12px;
  padding: 0.3em 0.2em;
}

.signup-btn {
  color: #4ea13f;
  border: solid #62B254 2px;
  background: linear-gradient(to bottom,
      #FFFFFF,
      #F2F2F2);
  font-size: 1.6rem;
  width: 100%;
  border-radius: 12px;
  padding: 0.3em 0.2em;
}

.login-input-container {
  width: 90%;
}

.login-input {
  width: 100%;
}

.big-btn {
  font-size: 2rem;
  padding: 0.2em 0.4em;
  margin: 0.2em 0em;
  border-radius: 12px;
  border: none;
  background-color: #0078d4;
  color: white;
  width: 100%;
  display: block;
  box-shadow: 0.1em 0.1em 0.6em #AAAAAAAA;
}

.hidden {
  display: none;
}

.green-btn {
  background-color: #4d4;
}


.red-btn {
  background-color: #d44;
}

#video {
  max-height: 80%;
  width: 100%;
}

#result {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}